### Ejercicio 2 :
- [x] Seleccionar columnas del DataFrame
- [x] Desplegar DataFrame
- [x] Adicionar columnas a DataFrame
- [x] Desplegar DataFrame
- [x] Ordenar DataFrame
- [x] Desplegar DataFrame
- [x] Agrupación por la columna género y agregación de datos por la columna edad en el DataFrame
- [x] Desplegar DataFrame

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exercise2") \
    .getOrCreate()

from faker import Faker
import pandas as pd

fake = Faker()

data = []

for _ in range(20):
    name = fake.first_name()
    age = fake.random_int(min=15, max=60)
    gender = fake.random_element(elements=("M", "F"))
    data.append({"Name": name, "Age": age, "Gender": gender})

df_pd = pd.DataFrame(data)
df = spark.createDataFrame(df_pd)

24/07/26 12:46:31 WARN Utils: Your hostname, Macbook-Air-31.local resolves to a loopback address: 127.0.0.1; using 192.168.68.102 instead (on interface en0)
24/07/26 12:46:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/26 12:46:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_selected = df.select("Name", "Gender")       # Select First and Last column of df

In [3]:
df_selected.show()       # View DF

+--------+------+
|    Name|Gender|
+--------+------+
|   Karen|     M|
| Deborah|     M|
|  Nicole|     M|
|   Tammy|     M|
|  Mathew|     M|
| Jeffrey|     M|
|  Jeremy|     F|
| Brandon|     M|
| Matthew|     M|
|   Debra|     M|
|   Bryan|     M|
|   Mario|     M|
| Tiffany|     M|
|Nicholas|     M|
|    Tony|     F|
|  Marcus|     M|
| Yolanda|     F|
|  Leslie|     M|
|   Erika|     M|
|  Travis|     M|
+--------+------+

In [4]:
from pyspark.sql.functions import col, lit
df_new_col = df.withColumn("Active", lit(True))    # Add new is active column

In [5]:
df_new_col.show()    # View DF

+--------+---+------+------+
|    Name|Age|Gender|Active|
+--------+---+------+------+
|   Karen| 60|     M|  true|
| Deborah| 59|     M|  true|
|  Nicole| 40|     M|  true|
|   Tammy| 16|     M|  true|
|  Mathew| 49|     M|  true|
| Jeffrey| 41|     M|  true|
|  Jeremy| 48|     F|  true|
| Brandon| 55|     M|  true|
| Matthew| 47|     M|  true|
|   Debra| 23|     M|  true|
|   Bryan| 26|     M|  true|
|   Mario| 60|     M|  true|
| Tiffany| 16|     M|  true|
|Nicholas| 17|     M|  true|
|    Tony| 50|     F|  true|
|  Marcus| 60|     M|  true|
| Yolanda| 36|     F|  true|
|  Leslie| 43|     M|  true|
|   Erika| 53|     M|  true|
|  Travis| 45|     M|  true|
+--------+---+------+------+

In [6]:
df_sorted = df_new_col.orderBy(col("Age").desc())    # Sort DF by Age DESC

In [7]:
df_sorted.show()    # View DF

+--------+---+------+------+
|    Name|Age|Gender|Active|
+--------+---+------+------+
|   Mario| 60|     M|  true|
|  Marcus| 60|     M|  true|
|   Karen| 60|     M|  true|
| Deborah| 59|     M|  true|
| Brandon| 55|     M|  true|
|   Erika| 53|     M|  true|
|    Tony| 50|     F|  true|
|  Mathew| 49|     M|  true|
|  Jeremy| 48|     F|  true|
| Matthew| 47|     M|  true|
|  Travis| 45|     M|  true|
|  Leslie| 43|     M|  true|
| Jeffrey| 41|     M|  true|
|  Nicole| 40|     M|  true|
| Yolanda| 36|     F|  true|
|   Bryan| 26|     M|  true|
|   Debra| 23|     M|  true|
|Nicholas| 17|     M|  true|
|   Tammy| 16|     M|  true|
| Tiffany| 16|     M|  true|
+--------+---+------+------+

In [8]:
from pyspark.sql.functions import sum as _sum, avg        # renamed due to conf with native python func

df_grouped = df.groupBy("Gender").agg(
    _sum("Age").alias("SumAge"),
    avg("Age").alias("AvgAge")
)

In [9]:
df_grouped.show()       # View DF

+------+------+------------------+
|Gender|SumAge|            AvgAge|
+------+------+------------------+
|     M|   710| 41.76470588235294|
|     F|   134|44.666666666666664|
+------+------+------------------+