### Ejercicio 6 :
- [x] Eliminar datos faltantes del DataFrame
- [x] Rellenar datos faltantes en edad con 0

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col, when

In [5]:
spark = SparkSession.builder \
    .appName("Exercise6") \
    .getOrCreate()

In [6]:
df = spark.read.csv("ej5_csv", header=True, inferSchema=True)
df.show()

+--------+-----+------+
|FullName|Years|Gender|
+--------+-----+------+
| Jasmine|   50|  NULL|
| Shirley|    0|     F|
|   David|   19|     M|
|    Mark|   25|     M|
|    John|    0|  NULL|
+--------+-----+------+

In [7]:
df_no_nulls = df.na.drop()
print("After deleting all null rows")
df_no_nulls.show()

After deleting all null rows
+--------+-----+------+
|FullName|Years|Gender|
+--------+-----+------+
| Shirley|    0|     F|
|   David|   19|     M|
|    Mark|   25|     M|
+--------+-----+------+

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col, when
import pandas as pd

df_pd = df.toPandas()
df_pd.loc[df_pd.index % 2 == 0, "Years"] = None

df = spark.createDataFrame(df_pd)

In [9]:
print("Dataframe with nulls:")
df.show()

Dataframe with nulls:

+--------+-----+------+
|FullName|Years|Gender|
+--------+-----+------+
| Jasmine|  NaN|  NULL|
| Shirley|  0.0|     F|
|   David|  NaN|     M|
|    Mark| 25.0|     M|
|    John|  NaN|  NULL|
+--------+-----+------+

In [10]:
df_filled = df.na.fill({"Years": 0})
print("DataFrame con valores nulos en 'Years' reemplazados por 0:")
df_filled.show()

DataFrame con valores nulos en 'Years' reemplazados por 0:
+--------+-----+------+
|FullName|Years|Gender|
+--------+-----+------+
| Jasmine|  0.0|  NULL|
| Shirley|  0.0|     F|
|   David|  0.0|     M|
|    Mark| 25.0|     M|
|    John|  0.0|  NULL|
+--------+-----+------+