### Ejercicio 4 :
- [x] Leer tabla de base de datos PostgreSQL mediante JDBC
- [x] Escribir tabla en base de datos PostgreSQL mediante JDBC